.data-table tbody tr:hover {
    font-weight: bold;
    color: #007a98;
}

.data-table td:first-of-type, .data-table th:first-of-type {
    width: 400px;
}

.data-table {
    border-spacing: 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: 2px solid #007a98;
    border-radius: 5px;
    margin: 10px 25px 40px 0px;
}

.data-table thead tr {
    background-color: #007a98;
    color: #ffffff;
    text-align: left;
}

.data-table th,
.data-table td {
    padding: 12px 15px;
}

.data-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.data-table tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}

body {
    font-family: sans-serif;
    background-color: rgb(168, 187, 194);
    margin: 10px 25px;
}

p {
    font-size: 85%;
    line-height: 0.5;
}

.custom-header1 {
    font-size: 150%;
    font-weight: bold;
    line-height: 0.1;
}

.custom-header2 {
    font-size: 125%;
    font-weight: bold;
    line-height: 0.5;
}