.data-table tbody tr:hover {
    font-weight: bold;
    color: #007a98;
}

.data-table td:first-of-type, .data-table th:first-of-type {
    width: 400px;
}

.data-table {
    border-spacing: 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: 2px solid #007a98;
    border-radius: 5px;
}

.data-table thead tr {
    background-color: #007a98;
    color: #ffffff;
    text-align: left;
}

.data-table th,
.data-table td {
    padding: 12px 15px;
}

.data-table tbody tr:nth-of-type(even) {
    background-color: rgb(227, 236, 240);
}

.data-table tbody tr:nth-of-type(odd) {
    background-color: rgb(255, 255, 255);
}

body {
    font-family: sans-serif;
    background-color: rgb(202, 223, 231);
}

p {
    font-size: 85%;
    line-height: 1.3;
    margin: 5px 0 5px 0;
}

.custom-header1 {
    font-size: 150%;
    font-weight: bold;
    line-height: 1;
    margin: 25px 0 10px 0;
}

.custom-header2 {
    font-size: 105%;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    margin: 10px 0 5px 0;
}

.wrapperDiv {
    width: 700px;
    border-radius: 10px;
    overflow: auto;
    margin: 25px;
    background-color: rgb(168, 187, 194);
    border: 2px solid #007a98;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.inputWrapperDiv {
    width: fit-content;
    border-radius: 5px;
    margin: 25px;
    background-color: rgb(195, 214, 221);
    border: 2px solid #007a98;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.inputDiv {
    margin: 5px 10px 10px 10px;
}

.dataDiv {
    margin: 25px;
}

.informationDiv {
    margin: 25px;
}

.footnote {
    font-size: 60%;
    margin: 15px 0 0 0;
}

#date-input {
    background-color: rgb(227, 236, 240);
}

label {
    font-weight: bold;
    line-height: 1.5;
}